<nav class="horizontal">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
    <a href=/images/bradEggins.pdf target="_blank">CV</a>

    <a href="https://github.com/bradeggins/" target="_blank"><img src="/images/gitHubLogo.png"></a>
    <a href="https://www.linkedin.com/in/bradeggins/" target="_blank"><img src="/images/linkedInLogo.png"></a>
  </nav>