<div class="container">
      <h1>Please explore my blog posts..</h1>
      <nav class="grid">
            <a href="/blogClass">Classes and ID's</a>
            <a href="/blogDom">JS and the DOM</a>    
            <a href="/blogFizzBuzz">Super Fizz Buzz</a>
      </nav>
</div>