<div class="container">
    <div class="blog-layout">
      <h1>Looking for more information?</h1>
    </div>

    <div class="blog-post">
      <h2>Contact me!</h2>
      <img src="images/brad.jpg" class="avatar" alt="Blog Author">
      <h3>Tel: +64204 124 8834</h3>
      <br>
      <h3><a href="mailto:brad.eggins@gmail.com" style="color:#7f8688">brad.eggins@gmail.com</a></h3> 
    </div>
  </div>