<%- include ('./partials/cover') %>
<div class="container">
  <div class="blog-post">
    <h2>Scroll down to see my projects</h2>
    <nav class="portfolio">
      <h1>FlightSearch</h1>
      <div class="side">
      <h4>Register, Login and Search. A simple tool to search for flights between Major NZ cities and get the cheapest flights for each month. 
        Utilises the Skyscanner API and Node.js/EXPRESS/EJS. MongoDb Atlas for user information storage.
        <br><br><br>
        <a href="https://evening-beach-05375.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/bradeggins/flightsearch" target="_blank">Code</a>
      </h4>
        <ul>
          <li>Node.js</li>
          <li>EXPRESS</li>
          <li>MongoDB</li>
          <li>EJS</li>
          <li>Javascript</li>
          <li>Skyscanner</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="side portfolio-img">
        <img src="/images/flightsearch.png">
      </div>
    </nav>
    <nav class="portfolio">
      <h1>Finance</h1>
      <div class="side">
      <h4>A dummy stock trading platform developer during Harvard's CS50: Intro to Computer Science.
        Using the IEX API you can quote stock price, buy and sell stock and see your trading history.
        <br><br><br>
        <a href="https://dry-peak-79295.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/bradeggins/finance" target="_blank">Code</a>
      </h4>
        <ul>
          <li>Python</li>
          <li>Flask</li>
          <li>Jinja</li>
          <li>Javascript</li>
          <li>HTML/CSS</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="side portfolio-img">
        <img src="/images/finance.png">
      </div>
    </nav>
    <nav class="portfolio">
      <h1>My Portfolio</h1>
      <div class="side">
      <h4>This very site! A place to display what I'm working on and my past projects. Deployed to 
        Heroku using Node.JS/Express server side and EJS for HTML templates. Fully responsive.
        <br><br><br>
        <a href="#" target="/">Live</a>
        <a href="https://github.com/bradeggins/portfolio/" target="_blank">Code</a>
      </h4>
        <ul>
          <li>Node.JS</li>
          <li>EXPRESS</li>
          <li>EJS</li>
          <li>Javascript</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="side portfolio-img">
        <img src="/images/portfolio.png">
      </div>
    </nav>
    <nav class="portfolio">
      <h1>ISS Tracker</h1>
      <div class="side">
      <h4>Track the International Space Station! Uses OpenNotify for the ISS location and Google Maps API.
        <br><br><br>
        <a href="/iss" target="_blank">Live</a>
        <a href="https://github.com/bradeggins/iss/" target="_blank">Code</a>
      </h4>
        <ul>
          <li>Javascript</li>
          <li>GoogleMaps</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="side portfolio-img">
        <img src="/images/iss.png">
      </div>
    </nav>
    <nav class="portfolio">
      <h1>YourWeather</h1>
      <div class="side">
      <h4>Get current weather conditions using your current location or search for a location using the Google Places API for autocomplete.
        <br><br><br>
        <a href="https://shrouded-beyond-62783.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/bradeggins/weather/" target="_blank">Code</a>
      </h4>
        <ul>
          <li>Javascript</li>
          <li>GooglePlaces</li>
          <li>OpenWeather</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="side portfolio-img">
        <img src="/images/weather.png">
      </div>
    </nav>
    <nav class="portfolio">
      <h1>Calculator</h1>
      <div class="side">
      <h4>A classic calculator created during Dev Academy.
        <br><br><br>
        <a href="/calculator/index.html" target="_blank">Live</a>
        <a href="https://github.com/bradeggins/calculator" target="_blank">Code</a>
      </h4>
        <ul>
          <li>Javascript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="side portfolio-img">
        <img src="/images/calculator.png">
      </div>
    </nav>
  </div>
  
</div>